$container-max-widths: (
  md: 1300px
);
$grid-gutter-width: 14px;
$h1-font-size: 1.8rem;
$h2-font-size: 1.0rem;
$h3-font-size: 1.2rem;
$body-bg: white;

@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: 'basicFont';
  src: url("../fonts/Sintony-Regular.ttf") format("truetype");
};

$font-title: 'basicFont', sans-serif;

.logo {
  width: 150px;
  height: 30px;

  @media (min-width: 768px) {
    width: 198px;
    height: 40px;
  }
}

#title {
  text-align: center;
  padding-top: 200px;

  @media (max-width: 768px) {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    font-family: $font-title;
    line-height: 2.6rem;
  }

  button {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 140px;
  }
}

h2 {
  text-align: center;
  font-weight: normal;
  font-family: $font-title;
}

.section {
  h1 {
    font-size: 1.3rem;
    font-family: $font-title;
    line-height: 2.4rem;
  }
}

.signature {

}

.testimonial {
  svg {
    color: #e1dc00;
  }

  > p:last-of-type {
    padding: 0px;
    margin: 0px;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: rgba(251, 203, 3, 0.81);
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgba(16, 208, 255, 0.22);
  }

  //background: #ccc;

  .speech-bubble {
    position: relative;
    background: rgba(16, 208, 255, 0.22);
    border-radius: .2em;
    box-shadow: 2px 2px 6px #888888;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: rgba(16, 208, 255, 0.22);
    border-bottom: 0;
    margin-left: -14px;
    margin-bottom: -14px;
  }
}

.service {
  img {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.title {
  min-height: 100px;
  background: red;
}

.nav-item > .active {
  background-color: red;
}